@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

p, label{
    font-family: 'Righteous', cursive;
}

p{
    font-size: 15px; color:rgb(18, 18, 18);
}

.logo{
    font-family: 'Rubik Microbe', cursive !important;
    font-size: 50px !important;
}


.bg-jet{
    background-color:#333333ff;
}

.bg-eminence{
    background-color: #643173ff;
}

.bg-royal-purple{
    background-color: #7d5ba6ff;
}

.bg-morning-blue{
    background-color: rgb(38, 100, 181);
}

.bg-eton-blue{
    background-color:#89ce94ff;
}

.color-white{
    color: white;
}

/* CSS HSL
--jet: hsla(0, 0%, 20%, 1);
--eminence: hsla(286, 40%, 32%, 1);
--royal-purple: hsla(267, 30%, 50%, 1);
--morning-blue: hsla(163, 15%, 59%, 1);
--eton-blue: hsla(130, 41%, 67%, 1);


$jet: #333333ff;
$eminence: #643173ff;
$royal-purple: #7d5ba6ff;
$morning-blue: #86a59cff;
$eton-blue: #89ce94ff;


$jet: hsla(0, 0%, 20%, 1);
$eminence: hsla(286, 40%, 32%, 1);
$royal-purple: hsla(267, 30%, 50%, 1);
$morning-blue: hsla(163, 15%, 59%, 1);
$eton-blue: hsla(130, 41%, 67%, 1);


$jet: rgba(51, 51, 51, 1);
$eminence: rgba(100, 49, 115, 1);
$royal-purple: rgba(125, 91, 166, 1);
$morning-blue: rgba(134, 165, 156, 1);
$eton-blue: rgba(137, 206, 148, 1);


$gradient-top: linear-gradient(0deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-right: linear-gradient(90deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-bottom: linear-gradient(180deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-left: linear-gradient(270deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-top-right: linear-gradient(45deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-bottom-right: linear-gradient(135deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-top-left: linear-gradient(225deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-bottom-left: linear-gradient(315deg, #333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff);
$gradient-radial: radial-gradient(#333333ff, #643173ff, #7d5ba6ff, #86a59cff, #89ce94ff); */
